*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: lightpink;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.section-one{
    background-color: beige;
}

.section-one2{
    display: flex;
    justify-content: center;

}

.address, .hours{
    padding: 80px;
    text-align: center;
}

.soft-text{
    text-align: center;
    padding: 5px;
}

h3{
    margin-bottom: 20px;
}

h2{
    font-family: serif;
    font-size: 46px;
}

.drop-by{
    text-align: center;
    padding: 30px;
}

.section-two{
    display: flex;
}